
__pycache__/
.ipynb_checkpoints/

/*.csv
/*.json
/*.xml
/*.zip

/part1/data/*
!/part1/data/orp-ciselnik.csv
!/part1/data/csu7700.csv
!/part1/data/vazba-orp-kraj.csv
!/part1/data/kraj-ciselnik.csv
!/part1/data/ockovani_invalid_orp.csv

/output/

/_local*
